body {
  color: hsl(30, 10%, 34%);
  background-color: hsl(30, 54%, 90%);
  font-size: 16px;
  font-family: 'Outfit';
  font-weight: 400;
}

main {
  box-sizing: border-box;
  background-color: hsl(0, 0%, 100%);
  width: 740px;
  padding: 40px;
  margin: 125px auto;
  border-radius: 25px;
}

main img {
  width: 100%;
  border-radius: 15px;
}

h1, h2 {
  font-family: 'Young Serif';
  font-weight: 400;
}

h1 {
  color: hsl(24, 5%, 18%);
  font-size: 40px;
}

h2 {
  color: hsl(14, 45%, 36%);
  font-size: 30px;
}

h3 {
  color: hsl(332, 51%, 32%);
  font-weight: 600;
  font-size: 20px;
}

li {
  padding-left: 20px;
}

li:not(:last-child) {
  margin-bottom: 15px;
}

hr {
  height: 1px;
  background-color: hsl(30, 18%, 87%);
  border: 0;
  margin-top: 30px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  border-bottom: 1px solid hsl(30, 18%, 87%);
  padding: 15px 40px;
}

table tr:last-child td {
  border-bottom: 0;
}

tr td:last-child {
  color: hsl(14, 45%, 36%);
  font-weight: bold;
}

#preparation-time {
  background-color: hsl(330, 100%, 98%);
  border-radius: 15px;
  padding: 25px;
  margin: 25px 0;
}

#preparation-time h3 {
  margin: 0;
}

#preparation-time li::marker {
  color: hsl(332, 51%, 32%);
}

#ingredients ul {
  list-style: square;
}

#ingredients li::marker {
  color: hsl(14, 45%, 36%);
}

#instructions li::marker {
  color: hsl(14, 45%, 36%);
  font-weight: bold;
}